bbp-numpy-1.8.0-system-numeric-mod==1.8.0.0
scipy==0.13.3
PyNN==0.7.5
PyYAML==3.11
rospkg==1.0.28
catkin_pkg==0.2.2
bbp-h5py==2.1.2.0
progressbar==2.3
psutil==2.0.0
lxml==3.3.3
mock==1.0.1
Jinja2==2.7.1
pyzmq==14.0.1
