# other requirements
cython==0.23.4
numpy==1.11.0
scipy==0.17.1
lxml==3.4.0
h5py==2.6.0
lazyarray==0.2.9
neo==0.4.0.dev0
PyNN==0.8.2
PyYAML==3.11
rospkg==1.0.38
catkin_pkg==0.2.10
progressbar==2.3
psutil==2.0.0
mock==1.0.1
pexpect==3.1
netifaces==0.8
pyxb==1.2.4
RestrictedPython==3.6.0
futures==3.0.3
mpi4py==2.0.0
